<div id="{{mojit_view_id}}">
	<footer>
        <p>&copy; <?php echo $site_name; ?> 2013</p>
    </footer>
	</body>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery1.9.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-formhelpers-datepicker.js"></script>
    <script src="js/bootstrap-formhelpers-datepicker.en_US.js"></script>
    <script src="js/bootstrap-formhelpers-selectbox.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWO1gUVVViK4fkzZnsmCmLTF01x9wE9ZM&sensor=false"></script>
    <script src="js/main.js"></script>
</html>
</div>
